@model PagedList.IPagedList<laba2.Models.Image>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Изображения</h2>

<!-- Для модального окна -->
@*<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>*@

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<p>
    @Html.ActionLink("Добавить изображение", "Create")
</p>



@*@Html.Raw("<img class='img-responsive' src=\"data:image/jpeg;base64,"
    + Convert.ToBase64String(item.Data) + "\" />")*@
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">

                        <img src=@item.PathToPhoto alt="...">

                        <div class="caption">
                            <h3>@item.Title</h3>
                            <p>
                                <input id="elem" type="button" onclick="ToDislike()" value=@item.Id data-item=@item.Id />
                                    <a href='@Url.Action("ToLike", "Image", new { id = item.Id})' class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-up"></span></a>


                                    <a href='@Url.Action("ToDislike", "Image", new { id = item.Id})' class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-down"></a>

                                </p>
                        </div>
                    </div>
                </div>
           
        }
    </div>
    </div>

    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")


    @*@section scripts
            {
            <script type="text/javascript">

                $(function () {
                    $.ajaxSetup({ cache: false });
                    $(document).on("click", "a[data-modal]", function (e) {
                        $('#myModalContent').load(this.href, function () {
                            $('#myModal').modal({
                                keyboard: true
                            }, 'show');

                            bindForm(this);
                        });
                        return false;
                    });
                });

                function bindForm(dialog) {
                    $('form', dialog).submit(function () {
                        $('#progress').show();
                        $.ajax({
                            url: this.action,
                            type: this.method,
                            data: $(this).serialize(),
                            success: function (result) {
                                if (result.success) {
                                    $('#myModal').modal('hide');
                                    $('#progress').hide();
                                    //location.reload();
                                } else {
                                    $('#myModalContent').html(result);
                                    bindForm(this);
                                }
                            }
                        });
                        return false;
                    });
                }
            </script>
        }*@

    @section scripts
{
        <script type="text/javascript">
            $(function () {
                $.ajaxSetup({ cache: false });
                $(document).on("click", "a[data-modal]", function (e) {
                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })

            function ToDislike(el) {

                // получаем id удаляемого объекта
                var id = $(elem).attr('data-item');
                //alert(id);
                var url = "/Image/ToDislike/" + id;
                //alert(url);
                $.get(url);
                //ToDislike(id);
            }

            function Tolike(el) {

                // получаем id удаляемого объекта
                var id = $(el).attr('data-item');
                var url = "/Image/ToDislike/" + id;
                $.get("/Image/ToLike/" + id);
                //ToDislike(id);
            }
        </script>

    }
